<h1>Test Manager</h1>
<h2>Source Files</h2>
<ul>
    {% for file in srcFiles %}
        <li>{{ file }}</li>
    {% endfor %}
</ul>

<h2>Test Files</h2>
<ul>
    {% for file in testFiles %}
        <li>{{ file }}</li>
    {% endfor %}
</ul>
